# General across all projects
*.o
Eigen/
.DS_Store
Eigen_package_2018/
ProgrammingProjects-master/

# Ignores files from Project_1
mol_analyser*
water
molecule_analyzer
Project_1/.DS_Store

# Ignores files from Project_2
HVF_calculator
